@model MiniProfilerWithWebFormsAndMvc.Models.MarkupViaMVC.IndexModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    The number is: @Model.Number
    <br />
    The text is: @Model.Text
    <br />
    The date and time is: @Model.DateAndTime
</div>